*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "combo", cursive;
}
html,body{
  width: 100%;
  height: 100%;
}
.textoMayuscula{
  text-transform: uppercase;
}
.container{
  display: flex;
  width: 100%;
}
#navegador{
  position: fixed;
  z-index: 1;
  justify-content: space-around;
  align-items: center;
  background-color: #8FC04D;
}
#navegador button{
  width: 99.5%;
  margin:0.5%;
  margin-top: 2%;
  margin-bottom:2%;
  padding: 1%;
  color: #fff;
  border: 0;
  border-radius: 5% 50%;
  font-size: 100%;
  background-color: #027B0A;
}

#navegador a{
  text-decoration: none;
  color: white;
}
#navegador button:hover{
  background-color: #8FC04D;
  border: 2px solid #027B0A;
  cursor: pointer;
}


header img{
  display: none;
}

@media (min-width:451px) {
  #navegador{
    display: flex;
  }
}
@media (min-width:0px) and (max-width:450px) {
  header{
    background-color: #027B0A;
    justify-content: flex-end;
  }
  header label {
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
    color: #fff;
  }
  header label:hover {
    margin: 6px 0;
    cursor: pointer;
    background-color: #8FC04D;
    color: #027B0A;
  }

  #navegador{
    display: none;
  }
  #somos{
    display: none;
  }
  #navegador{
    margin-top: 13%;
    z-index: 999;
  }
}
/*termina media*/

#inicio div{
  justify-content: center;
}
#inicio h2{
  position: absolute;
  align-self: flex-end;
  font-size: 100%;
  padding: 2%;
}

#inicio img{
  margin-top: 5%;
  width: 80%;
  align-self: center;
  height: auto;
  left: 2%;
}
#somos{
  background-color: #8FC04D;
}

.column{
  flex-direction: column;
}
.row{
  flex-direction: row;
}
#somos h2{
  padding: 2%;
  width: 100%;
  text-align: center;
}
.divItems{
  height: 100%;
  align-items: center;
}
.divItems img{
  margin: 2%;
  width: 46%;
  height: 100%;
}
.divItems p{
  padding: 2%;
}
#video{
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
}
#video div{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 70%;
}
#video h2{
  text-align: center;
  width: 100%;
  margin-top: 5%
}

#video iframe{
  width: 100%;
  height:100%;
  align-self: center;
  margin: 5%;
}

.divContenedor{
  justify-content: center;
}
.divContenedor h2{
  text-align: center;
  padding: 2%;
}
.divContenedor form{
  width: 50%;
  align-self: center;
}
#contacto{
  margin: 2% auto;
  background-color:  #8FC04D;
}
#contacto input, textarea{
  margin-top: 5%;
}
#contacto button{
  background-color:#027B0A;
  border: 0;
  border-radius: 5% 50%;
  padding: 2%;
  color: #fff;
  width: 30%;
  margin: 5%;
  align-self: flex-end;
}
#contacto button:hover{
  background-color: #8FC04D;
  cursor: pointer;
  border: 2px solid #027B0A;
}

footer{
  background-color: #027B0A;
  font-size: 100%;
  text-align: center;
  padding: 2%;
  color: #fff;
}
@media (min-width:0px) and (max-width:450px) {
  #contacto{
    background-color: #fff;
  }
  #video{
    width: 100%;
    height: auto;
    background-color: #8FC04D;
  }
}
